body {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-copy);
  font-family: "Poppins", sans-serif;
}

.header {
  height: 20vh;
  display: flex;
  flex-direction: row;
}

.logo {
  height: 14vh;
  width: 12vw;
  padding: 15px;
  padding-left: 2vw;
}

#home {
  padding-left: 35vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#portfolio {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#about {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#testimonials {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#contact {
  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  height: 35px;
  padding-left: 2vw;
  margin-top: 3vh;
  font-size: x-large;
  padding: 10px;
  color: white;
  text-decoration: none;
}

#home:hover,
#portfolio:hover,
#about:hover,
#testimonials:hover,
#contact:hover,
#home:active,
#portfolio:active,
#about:active,
#testimonials:active,
#contact:active {
  text-decoration: underline;
  font-weight: bold;
}

.about-chris {
  text-align: center;
  font-size: 45px;
  letter-spacing: 0.1vw;
}

.essay {
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 1.25em;
  letter-spacing: 0.05vw;
}

.photo-para {
  /* display: flex; */
  /* flex-direction: row; */
}

.photo {
  padding-left: 15vw;
  margin-top: 20px;
  margin-right: 10px;
  float: left;
}

#bund {
  height: 12vh;
  width: 10vw;
}

.first-para {
  padding-right: 15vw;
  font-size: 1.25em;
  letter-spacing: 0.05vw;
}

@media screen and (max-width: 1300px) {
  #home {
    padding-left: 32vw;
  }
  #bund {
    height: 13vh;
  }
}

@media screen and (max-width: 1150px) {
  #bund {
    height: 15.5vh;
  }
}

@media screen and (max-width: 1190px) {
  #home {
    padding-left: 28vw;
  }
}

@media screen and (max-width: 1080px) {
  #home {
    padding-left: 24vw;
  }
}

@media screen and (max-width: 1000px) {
  #home {
    padding-left: 20vw;
  }

  .logo {
    height: 13vh;
    width: 17.5vw;
  }
  .essay {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .photo {
    padding-left: 5vw;
  }

  .first-para {
    padding-right: 5vw;
  }

  #bund {
    height: 12vh;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    height: 12vh;
    width: 17vw;
  }

  .essay {
    padding-left: 3vw;
    padding-right: 5vw;
  }

  .photo {
    padding-left: 3vw;
  }

  #bund {
    height: 13vh;
    width: 11vh;
  }
}

.header .menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (max-width: 700px) {
  .logo {
    height: 11vh;
    width: 15vw;
  }
  .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    height: 9vh;
    width: 14vw;
  }
  .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    height: 9vh;
    width: 13vw;
  }
  .menu-icon {
    display: none;
  }
}

/* CSS for screens smaller than 900px (down to the smallest screen size) */
@media screen and (max-width: 899px) {
  .header .menu-icon {
    display: inline-block;
  }

  nav {
    display: none;
  }
}
