body {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-copy);
  font-family: "Poppins", sans-serif;
}

.menu-bar {
  height: 20vh;
  display: flex;
  flex-direction: row;
}

.logo {
  height: 14vh;
  width: 12vw;
  padding: 15px;
  padding-left: 2vw;
}

#home {
  padding-left: 35vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#portfolio {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#about {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#testimonials {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#contact {
  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  height: 35px;
  padding-left: 2vw;
  margin-top: 3vh;
  font-size: x-large;
  padding: 10px;
  color: white;
  text-decoration: none;
}

#home:hover,
#portfolio:hover,
#about:hover,
#testimonials:hover,
#contact:hover,
#home:active,
#portfolio:active,
#about:active,
#testimonials:active,
#contact:active {
  text-decoration: underline;
  font-weight: bold;
}

.about-chris {
  text-align: center;
  font-size: 45px;
  letter-spacing: 0.1vw;
}

.essay {
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 1.25em;
  letter-spacing: 0.05vw;
}

.photo-para {
  display: flex;
  flex-direction: row;
}

.photo {
  padding-left: 15vw;
  margin-top: 20px;
  margin-right: 10px;
}

#bund {
  height: 12vh;
  width: 10vw;
}

.first-para {
  padding-right: 15vw;
  font-size: 1.25em;
  letter-spacing: 0.05vw;
}

@media screen and (max-width: 1300px) {
  #home {
    padding-left: 32vw;
  }
  #bund {
    height: 13vh;
  }
}

@media screen and (max-width: 1150px) {
  #bund {
    height: 15.5vh;
  }
}

@media screen and (max-width: 1190px) {
  #home {
    padding-left: 28vw;
  }
}

@media screen and (max-width: 1080px) {
  #home {
    padding-left: 24vw;
  }
}

@media screen and (max-width: 1000px) {
  #home {
    padding-left: 20vw;
  }

  .logo {
    height: 13vh;
    width: 17.5vw;
  }
  .essay {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .photo {
    padding-left: 5vw;
  }

  .first-para {
    padding-right: 5vw;
  }

  #bund {
    height: 12vh;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    height: 12vh;
    width: 17vw;
  }

  .essay {
    padding-left: 3vw;
    padding-right: 5vw;
  }

  .photo {
    padding-left: 3vw;
  }

  #bund {
    height: 13vh;
    width: 11vh;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    height: 11vh;
    width: 15vw;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    height: 9vh;
    width: 14vw;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    height: 9vh;
    width: 13vw;
  }
}
