body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.menu-bar {
  height: 20vh;
  display: flex;
  flex-direction: row;
}

.logo {
  height: 14vh;
  width: 12vw;
  padding: 15px;
  padding-left: 2vw;
}

#home {
  padding-left: 36vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#portfolio {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#about {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#testimonials {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: cornflowerblue;
  text-decoration: none;
}

#contact {
  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  height: 35px;
  padding-left: 2vw;
  margin-top: 3vh;
  font-size: x-large;
  padding: 10px;
  color: white;
  text-decoration: none;
}

#home:hover,
#portfolio:hover,
#about:hover,
#testimonials:hover,
#contact:hover,
#home:active,
#portfolio:active,
#about:active,
#testimonials:active,
#contact:active {
  text-decoration: underline;
  font-weight: bold;
}

#hamburger-menu {
  display: none;
}

::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 50px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 40px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  width: var(--hamburger-margin);
  right: var(--hamburger-margin);
  margin-top: 10px;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: qpx solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  transform-origin: right center;
  border-radius: 99999px;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  transform: rotate(-45deg) translate(-1px, -10px);
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu:has(input:checked)::after {
  transform: rotate(45deg) translate(0px, 12px);
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: transform var(--animation-timing), right var(--animation-timing);
  transform: translateX(100%);
  right: 0;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-margin) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 500px;
  min-height: 22vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.hamburger-menu:has(input:checked) + .sidebar {
  transition: transform var(--animation-timing), right var(--animation-timing);
  transform: translateX(0);
  right: 0;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-margin) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 800px;
  min-height: 22vh;
  position: fixed;
  top: 0;
  width: 20%;
  height: 40%;
  z-index: 1;
  overflow: hidden;
  font-size: 1.6rem;
}

a {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: white;
  text-decoration: none;
  padding-bottom: 1.7rem;
}

a:active,
a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.introduction {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}

.learning {
  font-size: 3em;
  text-align: center;
  margin-bottom: 15px;
}

.description {
  align-self: center;
  font-size: 1.25em;
  letter-spacing: 0.05vw;
}

.boxes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 7vh;
}

.box1 {
  width: 25%;
  flex: 1;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  margin-right: 5vw;
}

.title1 {
  text-align: center;
  letter-spacing: 0.1vw;
  font-size: 2em;
}

#picture1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture1 {
  width: 15vw;
  height: 20vh;
}

.html-css {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: -15px;
}

.explanation1 {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.25em;
}

.box2 {
  width: 30%;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  margin-right: 5vw;
  flex: 1;
  align-self: stretch;
}

.title2 {
  text-align: center;
  letter-spacing: 0.1vw;
  font-size: 2em;
}

#picture2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture2 {
  width: 15vw;
  height: 20vh;
}

.js {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: -15px;
}

.explanation2 {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.25em;
}

.box3 {
  width: 25%;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  flex: 1;
}

.title3 {
  text-align: center;
  letter-spacing: 0.1vw;
  font-size: 2em;
}

#picture3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture3 {
  width: 15vw;
  height: 20vh;
}

.react {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: -15px;
}

.explanation3 {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.25em;
}

@media screen and (max-width: 1300px) {
  #home {
    padding-left: 32vw;
  }
}

@media screen and (max-width: 1190px) {
  #home {
    padding-left: 28vw;
  }
}

@media screen and (max-width: 1080px) {
  #home {
    padding-left: 24vw;
  }
}

@media screen and (max-width: 1000px) {
  .menu-bar {
    display: none;
  }

  .hamburger-menu {
    padding-top: 1rem;
  }

  #hamburger-menu {
    display: flex;
    margin-bottom: 2rem;
  }

  #home {
    padding-left: 20vw;
  }

  .logo {
    height: 13vh;
    width: 17.5vw;
  }

  .boxes {
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .box1,
  .box2,
  .box3 {
    width: 100%;
    margin-bottom: 2rem;
  }

  .box1 {
    margin-left: 5vw;
  }

  .explanation1,
  .explanation2,
  .explanation3 {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  .description {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media screen and (max-width: 850px) {
  .boxes {
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .logo {
    height: 11vh;
    width: 13vw;
  }

  .picture1,
  .picture2,
  .picture3 {
    height: 18vh;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    height: 10vh;
    width: 12vw;
  }

  .picture1,
  .picture2,
  .picture3 {
    height: 16.5vh;
    width: 17vw;
  }

  .description {
    font-size: 1.15em;
  }

  a {
    font-size: 1.4rem;
  }

  .boxes {
    font-size: 0.9rem;
  }

  .learning {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 600px) {
  .boxes {
    flex-direction: column;
    padding-left: 7vw;
    padding-right: 7vw;
  }

  .logo {
    height: 9vh;
    width: 14vw;
  }

  .picture1,
  .picture2,
  .picture3 {
    height: 17vh;
    width: 20vw;
  }
}

@media screen and (max-width: 500px) {
  .boxes {
    flex-direction: column;
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .logo {
    height: 9vh;
    width: 13vw;
  }

  .picture1,
  .picture2,
  .picture3 {
    height: 17vh;
    width: 20vw;
  }
}
