body {
  padding: 0px;
  margin: 0px;
  overflow: hidden; /* Prevents scrolling */
  background-image: url(assets/sadpuppy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-bar {
  height: 20vh;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  z-index: 2;
}

.logo {
  height: 14vh;
  width: 12vw;
  padding: 15px;
  padding-left: 2vw;
}

#home {
  padding-left: 36vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: white;
  text-decoration: none;
}

#portfolio {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: white;
  text-decoration: none;
}

#about {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: white;
  text-decoration: none;
}

#testimonials {
  padding-left: 2vw;
  padding-top: 5vh;
  padding-right: 2vw;
  font-size: x-large;
  color: white;
  text-decoration: none;
}

#contact {
  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  height: 35px;
  padding-left: 2vw;
  margin-top: 3vh;
  font-size: x-large;
  padding: 10px;
  color: white;
  text-decoration: none;
}

#home:hover,
#portfolio:hover,
#about:hover,
#testimonials:hover,
#contact:hover,
#home:active,
#portfolio:active,
#about:active,
#testimonials:active,
#contact:active {
  text-decoration: underline;
  font-weight: bold;
}

.apology {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sad {
  color: white;
  font-size: 50px;
  text-align: center;
}
